$first-text-color: black;
$second-text-color: white;
$third-text-color: #9999;
$first-active-color: rgb(243, 129, 129);
$second-active-color:rgb(252, 227, 138);
$background-color: #95e1d3;
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    background: -webkit-linear-gradient(0deg, rgb(252, 227, 138, 0.8), rgb(243, 129, 129, 0.8));
    background: -moz-linear-gradient(0deg, rgb(252, 227, 138, 0.8), rgb(243, 129, 129, 0.8));
    background: linear-gradient(0deg, rgb(252, 227, 138, 0.8), rgb(243, 129, 129, 0.8));
    color: $second-text-color;
    width: 100%;
    position: relative;

    img{
        position: absolute;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .list{
            font-size: small;
            text-transform: uppercase;
            ul{
                display: flex;
                li{
                    list-style: none;
                    margin-right: 10%;
                    a{
                        text-decoration: none;
                        color: $second-text-color;
                        display: block;
                    }
                    a:hover{
                        color: $second-active-color;
                        border-bottom: 2px solid $second-active-color;
                    }
                }
                .active-list{
                    border-bottom: 2px solid $second-active-color;
                    a{
                        color: $second-active-color;
                    }
                }
                .active-list:hover{
                    border: none;
                }
            }
        }
    }
    .template{
        font-family: 'Kaushan Script', cursive;
        display: flex;
        justify-content: center;
        margin-top: 2%;
        font-size: 3em;
    }
    .welcome{
        font-size: 5em;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        hr{
            width: 5%;
            height: 3px;
            background-color: $second-text-color;
            border: $second-text-color;
        }
    }
    .learn-more-button{
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        a{
            text-decoration: none;
            color: $second-text-color;
            border: 4px solid  $second-text-color;
            padding: 0.4% 2%;
        }
        a:hover{
            color: $first-active-color;
            border-color: $first-active-color;
        }
    }
    .progress{
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
        margin: 4.5% 10% 0% 10%;
        div{
            flex-basis: 18%;
            p{
                span{
                    font-weight: bold;
                }
            }
        }
        hr{
            border: 2px solid $second-text-color;
            background-color: $second-text-color;
        }
        .progress-bar{
            ::-webkit-progress-bar {
                background: $second-text-color;
            }
            ::-webkit-progress-value {
                background: $first-active-color;
            }
            progress{
                border-radius: 0;
                height: 5px;
                width: 100%;
            }
        }
    }
}
.caption-block{
    text-align: center;
    .caption{
        font-family: 'Kaushan Script', cursive;
        font-size: 24pt;
        margin-bottom: 2%;
        margin-top: 5%;
    }
    .under-caption{
        font-size: 30pt;
        text-transform: uppercase;
        margin: 0;
    }
    .arcticle{
        margin: 0 15% 5% 15%;
        color: $third-text-color;
     }
    hr{
        width: 5%;
        height: 2px;
        border: 1px solid $first-active-color;
        background-color: $first-active-color;
        margin-top: 3%;
        margin-bottom: 3%;
    }
}
.image-block{
    margin-bottom: 5%;
    text-align: center;
    img{
        margin-right: 2%;
    }
    img:last-child{
        margin-right: 0;
    }
}
.counter-block{
    background-color: $background-color;
    color: $second-text-color;
    display: flex;
    justify-content: center;
    padding: 3%;
    margin-bottom: 5%;
    div{
        margin-right: 5%;
        text-align: center;
        h3{
            font-size: 72pt;
            margin: 0;
        }
        p{
            text-transform: uppercase;
        }
    }
    div:last-child{
        margin-right: 0;
    }
}
.icon-block{
    margin-bottom: 8%;
    .half-block{
        display: flex;
        justify-content: space-around;
        align-items: center;
        i{
            color: $background-color;
            font-size: 25pt;
            margin-bottom: 3%;
        }
        i:first-child{
            margin-left: 10%;
        }
        div{
            flex-basis: 20%;
            .header{
                text-transform: uppercase;
                font-weight: bold;
            }
            .article{
                color: $third-text-color;
            }
        }
        div:last-child{
            margin-right: 10%;
        }
    }
    hr{
        width: 80%;
        border: 0.10px solid $third-text-color;
        background-color: $third-text-color;
        margin-bottom: 2%;
        margin-top: 2%;
    }
}
.tablet-block{
    width: 100%;
    background: url("/css/dist/images/Background2.png");
    background-size: cover;
    margin: 0 auto;
    .caption-block{
        padding-top: 1%;
    }
    .images{
        text-align: center;
        .ipad{
            margin-bottom: -0.30%;
            margin-right: 5%;
        }
        .iphone{
            position: absolute;
            right: 25%;
            margin-top: 15%;
        }
    }
}
.under-tablet-block{
    margin-top: 10%;
}
.skills-block{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        flex-basis: 33%;
        margin-right: 2%;
    }
    .aside-text{
        flex-basis: 33%;
        margin-left: 2%;
        div[class^=block]{
            border: 1px solid $third-text-color;
            padding: 0;
            margin: 2% 0;
            .header-text{
                display: flex;
                align-items: center;
                i{
                    margin-right: 2%;
                    color: $background-color;
                    font-size: 1.5em;
                    padding-left: 5%;
                }
                p{
                    text-transform: uppercase;
                    font-weight: regular;
                }
            }
            .additional-text{
                p{
                    padding: 2% 5%;
                    font-size: 10pt;
                    color: $third-text-color;
                }
            }
        }
        .active{
            
            .header-text{
                border-bottom: 1px solid $third-text-color;
            }
        } 
    }

    margin-bottom: 200px;
}
